{
	debug
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN:faketoken}
	email {$ACME_EMAIL:admin@example.com}
	auto_https disable_redirects
	order replace after encode
	servers {
		listener_wrappers {
			layer4 {
				@proxy_protocol proxy_protocol
				route @proxy_protocol {
					proxy_protocol
					subroute {
						@ssh ssh
						route @ssh {
							proxy localhost:22
						}
					}
				}
				@ssh ssh
				route @ssh {
					proxy localhost:22
				}
			}
			tls
		}
	}
}

(app) {
	rewrite /{args[0]} /{args[0]}/
	handle_path /{args[0]}/* {
		reverse_proxy {args[1]}
		replace stream {
			re "(src|href)=\"/(.*?)\"" "$1=\"/{args[0]}/$2\""
		}
	}
}

localhost:{$CADDY_PORT:2016} 127.0.0.1:{$CADDY_PORT:2016} :{$CADDY_PORT:2016} {
  log

	rewrite /health-check /health-check/
	handle /health-check/ {
    	respond "Hello, world!"
  }

	import app dufs localhost:5000
}
